POSTGRES_DB=trackfusion
POSTGRES_USER=trackfusion
POSTGRES_PASSWORD=trackfusion
FIXTURE_SOURCES_ENABLED=true
OPENSKY_ENABLED=false
OPENSKY_BEARER_TOKEN=
AISSTREAM_ENABLED=false
AISSTREAM_API_KEY=
RADAR_ENABLED=false
RADAR_PORT=5005
OPEN_METEO_ENABLED=false
