POSTGRES_DB=trackfusion
POSTGRES_USER=trackfusion
POSTGRES_PASSWORD=trackfusion
AISSTREAM_API_KEY=
TRACKFUSION_OPENSKY_ENABLED=false
TRACKFUSION_FIXTURES_ENABLED=true
VITE_MAP_STYLE_URL=https://demotiles.maplibre.org/style.json
